@{
    ViewData["Title"] = "Home";
}

<div class="mt-internal">
    <div class="container-fluid d-none d-lg-block">
        <div class="row" id="fundoFrase">
            <div class="col-md-6 frase">
                <span class="align-middle">Em algum lugar alguma coisa incrível está esperando para ser conhecida.</span>
                <p class="text-right">Carl Sagan</p>
            </div>
            <div class="col-md-6">
                <img src="~/css/img/cele.svg" width="100%"/>
            </div>
        </div>
    </div>
</div>